<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>931662551422-afdit6hc2s6ug9onlb7bohv4dfd14j1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931662551422-afdit6hc2s6ug9onlb7bohv4dfd14j1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAMoqzwkJdNqT-3sRu4nW_e64xOxN59uFw</string>
	<key>GCM_SENDER_ID</key>
	<string>931662551422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seneme.ChaChat</string>
	<key>PROJECT_ID</key>
	<string>chachat-e52a0</string>
	<key>STORAGE_BUCKET</key>
	<string>chachat-e52a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931662551422:ios:213eb2b2c611ee78</string>
	<key>DATABASE_URL</key>
	<string>https://chachat-e52a0.firebaseio.com</string>
</dict>
</plist>